
@media screen and (max-width: 1300px) {
    .header__item{
        min-width: auto;
        width: auto;
        padding: 8px 15px;
    }
}
@media screen and (max-width: 1180px) {
    .header__input{
        padding: 10px 7px 10px 15px;
        width: 150px;
        min-width: auto;
    }
}


@media screen and (max-width: 1120px) {
    .header__title{
        min-width: 170px;
    }
    .header__input{
        min-width: auto;
        width: 100%;

        padding: 17px 7px 17px 15px;

        font-size: 18px;
    }
    .header__form{
        width: 100%;
    }
    .header__nav{
        display: none;
    }
    .header__content{
        justify-content: normal;
        align-items: center;

        column-gap: 50px;
    }
    .burger__menu-btn{
        display: block;
        margin-left: auto;
    }

    .header{
        padding: 30px 30px 30px 20px;
    }

}

@media screen and (max-width: 973px) {
    .header__title{
        font-size: 33px;
    }
}


@media screen and (max-width: 762px) {
    .header__input{
        padding: 12px 7px 12px 13px;
    }
    .header__title{
        font-size: 30px;
        min-width: 147px;
    }
}

@media screen and (max-width: 670px) {
    .header__input{

        padding: 12px 7px 12px 13px;

        font-size: 16px;
    }
    .header__title{
        font-size: 30px;
    }
    .burger__menu-btn{
        width: 28px;
    }
}

@media screen and (max-width: 485px) {
    .header__input{

        padding: 12px 7px 12px 13px;

        font-size: 16px;
    }
    .header__title{
        display: none;
    }
    .burger__menu-btn{
        width: 28px;
    }
}






@media screen and (max-width: 1100px) {
    .main__item{
    min-height: 300px;

    }
    .main__list{
        gap: 70px 40px;
    }
    .main__content{
        padding: 30px 20px;
    }
}

@media screen and (max-width: 900px) {
    .main__item{
        width: calc(33.33% - 30px);
    }
    .main__list{
        gap: 70px 30px;
    }
}
@media screen and (max-width: 723px) {
    .main__item{
        width: calc(33.33% - 20px);
    }

    .main__item-year{
        font-size: 24px;
    }
    .main__item-genres{
        font-size: 14px;
    }
}
@media screen and (max-width: 620px) {
    .main__item{
        width: calc(50% - 20px);
    }
}



@media screen and (max-width: 420px) {
    .main__list{
        gap: 50px;
    }
    .main__item{
        width: 80%;
    }
    .main__list{
        justify-content: center;
    }
    .burger__menu{
        width: 100%;

    }
}

